<%= javascript_include_tag 'posts.js' %>

<button id="show-post-form" class="col-md-4 btn btn-lg btn-success">
    <h4>create new post</h4>
</button>

<div class="clearfix"></div>
<hr>

<div id="post-form">
  <%= render "posts/new2" %>  
</div>


