
<div class="jumbotron">
	<h1>The Godwin Repository</h1>
	<p class="lead">Your source for all things "literally Hitler" on the web.</p>

</div>

<%= render "home/legend" %>

<div class="row home-row recent-posts">
		<h2 class="home-title">Most popular entries</h2>
		<%= render "tags/posts_list" %>
		
</div><!-- row -->

<div class="row home-row help">
		<h2 class="home-title">Having trouble finding what you're looking for?</h2>
		<div class="clearfix"></div>
		
		<div class="col-md-10 col-md-offset-1"> 
			<p>You have a few options. The best way to find a list of entries relating to an individual or organization is to locate him, her, or it on the <a href="#">alphabetized master list</a> of people and organizations in our database! Alternatively, you could check out the <a href="#">most recent submissions</a> or try a keyword search in the area provided at the top-right of the page.</p>
		</div>
		
</div>


 

