
<div class="jumbotron mini">
<div class="row">
<div class="col-md-3"></div>
<div class="col-md-6"><h1>What is the Godwin Repository?</h1></div>
<div class="col-md-3"></div>
</div><!-- row -->
</div> <!-- jumbotron mini-->

<div class="jumbotron mini">
<div class="row">
<div class="col-md-3"></div>
<div class="col-md-6">
<p class="lead">The Godwin Repository draws its name from <a href="http://en.wikipedia.org/wiki/Godwin's_law">Godwin's law</a>, which is a brilliant maxim devised by Mike Godwin. Here is how Wikipedia defines it:</p>

<blockquote><p>"As an online discussion grows longer, the probability of a comparison involving Nazis or Hitler approaches 1" —​ that is, if an online discussion (regardless of topic or scope) goes on long enough, sooner or later someone will compare someone or something to Hitler or Nazism.</p></blockquote>

<p>The Godwin Repository is a crowdsourced database that tracks the use of comparisons to Hitler and the Nazis in popular media and the public sphere. As politics become increasingly polarized, rhetoric becomes increasingly sensational and hyperbolic. As Adolph Hitler and Nazi Germany have become two of the few universal references for evil around globe, they have become token references for the evil that occurs when (to quote the venerable <a href="http://en.wikipedia.org/wiki/Edmund_Burke">Edmund Burke</a>) good men do nothing.</p>

<p>As an apolitical database, the Repository is an attempt at creating a public record in order to a) highlight the frequency of ridiculous comparisons to Hitler and/or the Nazis in order to acknowledge just how banal and ineffectual they have become and b) to function as a reference database for researchers and writers.</p> 
</div>
<div class="col-md-3"></div>
</div><!-- row -->
</div><!-- jumbotron mini -->

<div class="jumbotron mini">
<div class="row">
<div class="col-md-3"></div>
<div class="col-md-6"><h1>How does it work?</h1></div>
<div class="col-md-3"></div>
</div><!-- row -->
</div><!-- jumbotron mini -->

<div class="jumbotron mini">
<div class="row">
<div class="col-md-3"></div>
<div class="col-md-6">
<p>The Godwin Repository is completely dependent on <strong>you</strong>. The continued operation of the site relies on the participation of its users submitting, commenting on, and updating entries. Luckily, finding content on the site is extremely simple. To locate a record, simply use the search bar at the top of every page to input any relevant keywords. Alternatively, you can check out the most recent and most popular entries, which are displayed on our homepage.</p>

<p>Can't find what you're looking for? If the record you want doesn't exist in our database, then you have two easy options to submit it yourself and join the ranks of our dedicated content creators. If you happen to have our site open in front of you, just head over to our <a href="#">submit an entry</a> page and give us a little information about your link and your entry is all set.</p>

<div class="browser-extention">

<div src="#" class="extension-tutorial">
  <img src="#"></img>
  <p class="extension-tutorial-caption"><small>Lorem Ipsum</small></p>
</div>

<div src="#" class="extension-tutorial">
  <img src="#"></img>
  <p class="extension-tutorial-caption"><small>Lorem Ipsum</small></p>
</div>

</div>
<div class="clearfix"></div>

<p>Alternatively, you can download our nifty Godwin Repository browser extention, which is available for download on Google Chrome broswers. You can find the extension in the Google webstore <a href="#">here</a>. To use the extension, simply navigate to the page that you'd like to submit, click on the GR button on the top right of your screen (as seen in the pictures above), fill out the spots when prompted, and <em>voil&agrave;</em> your submission will be added to the Repository.</p>

<p>As an added incentive, we've created a system of rewards for our users that frequently submit entries to the site as a small way to say thank you. There are multiple achievements to earn, and all of them give you a unique icon that will show up in your profile and any time you comment on an entry. Good luck earning them all!</p>

<p>As a final note, the Godwin Repository would not be a success without your support. Please take a second to check out our social media accounts so that you can receive occasional updates with the most recent and amsuing instances of people calling each other Nazis and so that your friends can discover the magic of the Godwin Repository. The more people that use the repository, the more successful it will be!<p>
</div>
<div class="col-md-3"></div>
</div><!-- row -->
</div><!-- jumbotron mini -->        


<div class="col-md-3"></div>
</div>


<div class="jumbotron mini">
<div class="row">
<div class="col-md-3"></div>
<div class="col-md-6"><h1>Who created it?</h1></div>
<div class="col-md-3"></div>
</div><!-- row -->
</div> <!-- jumbotron mini -->

<div class="jumbotron mini">
<div class="row">
<div class="col-lg-2 profile"></div>
<!-- Cirlce photos 
<div class="col-md-1">
<img src="http://robinscharf.me/uploads/grad.jpg" alt="..." class="img-circle img-small">
</div> -->

<div class="col-lg-4 profile">			
<h2>Rob Scharf</h2>
<p>Lorem ipsum dolor sit amizzle, yo mamma adipiscing phat. Shizzle my nizzle crocodizzle doggy fo shizzle, fo shizzle my nizzle volutpat, shut the shizzle up go to hizzle, its fo rizzle vizzle, arcu. Phat fizzle fo shizzle. Fo erizzle. Shut the shizzle up sure dolor dapibizzle i saw beyonces tizzles and my pizzle went crizzle tempizzle bizzle.</p>
</div>

<div class="col-md-1"></div>

<!-- Cirlce photos 
<div class="col-md-1">
<img src="http://robinscharf.me/uploads/nick.jpg" alt="..." class="img-circle img-small">
</div> -->

<div class="col-lg-4 profile">
<h2>Nick Smit</h2>
<p>Lorem ipsum dolor sit amizzle, yo mamma adipiscing phat. Shizzle my nizzle crocodizzle doggy fo shizzle, fo shizzle my nizzle volutpat, shut the shizzle up go to hizzle, its fo rizzle vizzle, arcu. Phat fizzle fo shizzle. Fo erizzle. Shut the shizzle up sure dolor dapibizzle i saw beyonces tizzles and my pizzle went crizzle tempizzle bizzle.</p>    		
</div>
<div class="col-lg-1 profile"></div>

</div>
</div>