<div class="container">
<div class="row center post-form">
<%= form_for :accuser, class: 'form-horizontal', url: accusers_path do |f| %>
  <div class="form-group">
    <div class="col-sm-6">
      <%= f.text_field :title, class: 'form-control', :placeholder => "Post Title" %>
    </div>
     <div class="col-sm-4">
        <%= f.submit "Next", html: {class: 'btn btn-primary btn-block' , id: 'myForm' } %>
      </div>
  </div>  
<% end %>
</div>
</div>