<%= javascript_include_tag 'posts.js' %>

<h1>Posts Arranged by Popular</h1>
<hr>
<div id="searcharea_posts">
  <input type="search" name="search" id="search_post" class="form-control" placeholder="Search Posts" />
</div>
<div class="clearfix"></div>
<hr>
<div id="update_posts">
<%= render 'tags/posts_list' %>
</div>