
<h1>Posts Arranged by Popular</h1>
<hr>
<div id="searcharea">
  <input type="search" name="search" id="search" class="form-control" placeholder="Search Posts" />
</div>
<div class="clearfix"></div>
<hr>
<div id="update">
<%= render 'tags/posts_list' %>
</div>

<%= javascript_include_tag 'posts.js' %>