// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
header{
	height: 100px;
	padding:42px 0 10px;
}
.row{
	margin:50px 0 0;
}
*{
	// outline:red 2px solid;
}