// Place all the styles related to the Post controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
p.comment-text{
	padding:20px 10px;
}
#post_form{
  background: rgba(224,224,224,0.95);
  position: fixed; top:0; left: 0;
  height:auto; width:100%;
  z-index:99999;
  padding:10px 0;
}
#post_form > form {
  // color:white;
}