<div class="row">
	<button type="button" class="btn-info btn btn-lg"> <%= @category.title %></button>
	<hr>
	<div class="col-md-5">
		<h2>Accused:</h2>
		<%= render "categories/posts_list" %>
	</div>
	<div class="col-md-5 col-md-offset-2">
		<h2>Accuser:</h2>
		<%= render "categories/posts_list" %>
	</div>	
</div><!-- row -->